<div class="bg">
    <h1>My new Component since Angular</h1>
    <p>My name is {{ nameuser }}</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae blanditiis, quas nisi assumenda odit commodi similique reiciendis? Voluptate fuga in culpa placeat magnam, cupiditate aut possimus ab quaerat nihil. Corporis officiis perspiciatis ratione, consequatur reiciendis culpa, quasi debitis laborum voluptate placeat voluptas eveniet autem beatae distinctio voluptatum facilis iure quis repudiandae facere! Ipsum blanditiis consequatur magnam architecto ullam, maxime quis quidem est! Aperiam esse earum, quisquam consequuntur aspernatur distinctio corporis repellat mollitia enim molestias. Voluptatibus vel asperiores, harum laborum dolores nobis esse nesciunt amet reprehenderit corrupti saepe tempora unde voluptatum mollitia totam, quo qui eos fuga quia at explicabo!</p>
    
</div>